.logo-img{
    width: 11%;
}
.main-nav{
     background-color: #e84d56;
     background-image: url("../images/header_bg.3dea8d7.png");
     background-repeat: repeat;
}

.title{
    color: white;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    margin: 11px;
    border-radius: 28px;
    padding: 10px;
}
.toggle-button{
 margin-left: 258px;
}
.title:hover{
  color: #e84d56;
  border-radius: 28px;
    background-color: white;

}

.nav-button{
    border: 1px solid white;
}

  /* footer */
  .t-footer{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
  }
  .sub-footer{
    text-decoration: none;
    padding: 0 9px;
    border-right: 2px solid white;
  }
  .sub-footer-l{
    text-decoration: none;
    padding: 0 9px;
  }

 .play-active{
 color: #e84d56;
  border-radius: 28px;
    background-color: white;
    padding: 10px;
 }
