{% extends "base.html" %}
{% block content %}
<style>
        .f-title {
            width: 85%;
            margin: auto;
            font-size: 19px;
            color: #90121a;
        }
    </style>
    <!-- header section -->
    <main class="main-container main-nav">
        <div class="p-5 p-md-5 mb-4 text-white rounded ">
            <div class="col-md-12 px-0">
                <h1 class="display-4 text-center fw-normal">Copyright</h1>
            </div>
        </div>
    </main>


    <!-- terms of condition -->
    <div class="container pt-5 pb-5">
        <div class="f-title">
            <p>specCRM.com respects the intellectual property rights of others, and requests you to do the same.
                specCRm.com does not permit infringement of intellectual property rights on its platform, and will
                promptly suspend commercial content (served via a publicly available web address / URL) from being able
                to be converted and downloaded by its platform when kindly notified.</p>
            <p>If you’re a content creator/owner, copyright owner or an agent thereof and would like to disable the
                possible use of specCRM.com’s platform to convert your publicly available content(s), please kindly send
                us a request via e-mail with the information stated below and we will blacklist the content(s) in our
                system within 24 hours.</p>
            <p>- The URL(s) of the content(s) you want us to block.</p>
            <p>- A form of electronic or physical evidence showing that you have the rights to the content(s).</p>
            <p>- Contact information that is reasonably sufficient to permit us to contact you, such as an address,
                telephone number, and a valid e-mail address.</p>
        </div>
    </div>

{% endblock %}