{% extends "base.html" %}

    {% block content %}
    <!-- header section -->
    <main class="main-container main-nav">
        <div class="p-5 p-md-5 mb-4 text-white rounded ">
            <div class="col-md-12 px-0">
                <h1 class="display-4 text-center fw-normal">FAQS</h1>
            </div>
        </div>
    </main>

    <!-- main title -->
    <!-- FAQS -->
    <div class="container mt-5 mb-4">
        <h1 class="ms-4 pb-4 display-4">Youtube Downloader FAQ</h1>

        <div class="accordion" id="faqExample">
            <div class="card pb-2">
                <div class="card-header p-2" id="headingOne" type="button">
                    <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <h4>Q: Is SpecCRM.com free to use?</h4>
                    </button>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Yes. It is absolutely free to use our website</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <h4>Q: Is Spec safe for my PC?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Yes. There are no things, such as malware and viruses on our website.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <h4>Q: Do I need an account to download videos?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                    <div class="card-body">
                        <p>No</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <h4>Q: How do I download videos?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Spec YouTube downloader is very easy to use.
                            1.) Copy and paste the URL of the video.
                            2.) Click “Start” to begin the conversion process.
                            3.) Select the output format and hit “Download.”
                        </p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <h4>Q: Can I use Spec on Android and iPhone, iPad?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Yes. You can access Spec from your Android device or any mobile device, for that matter.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            <h4>Q: Can I just download an Mp3 file from the Youtube link?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingFSix" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Yes, you can. You may achieve that by selecting the “Audio” tab after copying and pasting the
                            YouTube URL link. Choose “MP3” as the output format, and after the conversion process, click
                            “Download” to make the file yours.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven">
                            <h4>Q: What if the conversion remains and gets stuck at the initializing stage?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingFSeven" data-parent="#faqExample">
                    <div class="card-body">
                        <p>There are three things you can do in case that happens.
                            1.) You can erase your browser cache and restart the browser.
                            2.) Use another browser.
                            3.) Turn off AdBlock and other adblocking sites. Also, turn off AdBlock to download if you
                            don’t see the Download button. If any of these won’t work, you can contact us directly at
                            specscale@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                            <h4>Q: What am I going to do if I see an error message?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Make sure that the video is in the allowable length or file size and still available online.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingNine">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseNine"
                            aria-expanded="false" aria-controls="collapseNine">
                            <h4>Q: My downloaded MP3 does not have a sound. What happened?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqExample">
                    <div class="card-body">
                        <p>It might be because of copyright infringement issues. If that’s the case, you can’t do
                            anything about it and just look for another video to convert.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingTen">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="false" aria-controls="collapseTen">
                            <h4>Q: If I download from SpecCRM, will it be kept anonymous?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Yes. SSL certificate encryption makes sure that exchanges between you and our website are
                            undisclosed. And for added privacy, we don’t keep records of your downloads either.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingEleven">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                            <h4>Q: Do I need to play the YouTube video first before I can download it?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqExample">
                    <div class="card-body">
                        <p>No, that’s not needed. You only need to copy and paste the YouTube video link, and that’s it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingTwelve">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwelve"
                            aria-expanded="false" aria-controls="collapseTwelve">
                            <h4>Q: How many files can I download?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#faqExample">
                    <div class="card-body">
                        <p>As much as you want. There is no limitation on the number of files to download.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingTharteen">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTharteen"
                            aria-expanded="false" aria-controls="collapseTharteen">
                            <h4>Q: What can be the maximum size of a video to download?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseTharteen" class="collapse" aria-labelledby="headingTharteen" data-parent="#faqExample">
                    <div class="card-body">
                        <p>In order to maintain the best possible throughput, we allow files to be downloaded from 4 GB
                            as much as possible.</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingFourteen">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFourteen"
                            aria-expanded="false" aria-controls="collapseFourteen">
                            <h4>Q: How long does the download link last?</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#faqExample">
                    <div class="card-body">
                        <p>Download links expire after 20 minutes. Feel free to download again if your link has expired.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingFifteen">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFifteen"
                            aria-expanded="false" aria-controls="collapseFifteen">
                            <h4>Q: I get the message "This video is copyrighted."!</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#faqExample">
                    <div class="card-body">
                        <p>It's not possible to download a video from live streaming at the moment</p>
                    </div>
                </div>
            </div>
            <div class="card pb-2">
                <div class="card-header p-2" id="headingSixteen">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSixteen"
                            aria-expanded="false" aria-controls="collapseSixteen">
                            <h4>Q: I get the message "This video is copyrighted."!</h4>
                        </button>
                    </h5>
                </div>
                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#faqExample">
                    <div class="card-body">
                        <p>This message is quite normal. You are trying to download content that is protected by
                            copyright and Btclod does not allow such a thing. We strive to block the downloading of
                            protected content in order to ensure the sustainability of the site.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row 318-->
    </div>
{% endblock %}